.letra {
    color: #FFD369;
}

.bgc-negro background-color {
    background-color: #212529;
}

.estilo {

    height: auto;
    width: auto;
    overflow-x: hidden;
    box-shadow: 0px -6px 5px -4px #393E46;
    overflow-y: hidden;
    margin-top: 25px;
    background: rgb(23, 28, 33);

}

.redes {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.margen20px {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #EEEEEE
}

.margenLateral {
    padding-left: 300px;
    padding-right: 300px;
}

a {
    text-decoration: none;
    color: #1360e5
}

a:hover {
    color: #FFD369
}

ul {
    list-style: none;
}