
.ButtonLink {
    text-decoration:none ;
    color: #FFD369; ;

}

.footerp {
    text-align: right;
    text-decoration: none;

}

.ButtonLink:hover {
    background-color: #FFD369;;
    color: grey;
}

.footerdiv  {
    background-color: #FFD369;
}
