.foto {
    background-color: dark;
    width: auto;
    height: auto;

}

.letra{
    color: #FFD369;
}

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtcenter {
    text-align: center;
}

.width50 {
    width: 50%;
}

.mgt {
    margin-top: 60px;
}

.textarea {
    justify-content: center;
    width:50%;
}
